@model CoronaSystem.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhoneNumber" class="control-label"></label>
                <input asp-for="CellPhoneNumber" class="form-control" />
                <span asp-validation-for="CellPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstShot" class="control-label"></label>
                <input asp-for="FirstShot" class="form-control" />
                <span asp-validation-for="FirstShot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondShot" class="control-label"></label>
                <input asp-for="SecondShot" class="form-control" />
                <span asp-validation-for="SecondShot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdShot" class="control-label"></label>
                <input asp-for="ThirdShot" class="form-control" />
                <span asp-validation-for="ThirdShot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FourthShot" class="control-label"></label>
                <input asp-for="FourthShot" class="form-control" />
                <span asp-validation-for="FourthShot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine1" class="control-label"></label>
                <input asp-for="Vaccine1" class="form-control" />
                <span asp-validation-for="Vaccine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine2" class="control-label"></label>
                <input asp-for="Vaccine2" class="form-control" />
                <span asp-validation-for="Vaccine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine3" class="control-label"></label>
                <input asp-for="Vaccine3" class="form-control" />
                <span asp-validation-for="Vaccine3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine4" class="control-label"></label>
                <input asp-for="Vaccine4" class="form-control" />
                <span asp-validation-for="Vaccine4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositiveDate" class="control-label"></label>
                <input asp-for="PositiveDate" class="form-control" />
                <span asp-validation-for="PositiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NegativeDate" class="control-label"></label>
                <input asp-for="NegativeDate" class="form-control" />
                <span asp-validation-for="NegativeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
